.totalStyle {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  justify-content: space-around;
  text-align: center;
  box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.5);
}