.totalStyle {
  min-height: 500px;
  width: 100%;
  align-items: center;
}

.eachBox {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerBox {
  align-items: center;
  justify-content: center;
}

.textBox {
    border: 5px solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 28px;
    padding-right: 28px;
    text-align: center;
    min-height: 150px;
    max-height: 200px;
}