.navbarStyles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(179, 224, 242, 0.9), rgba(0, 40, 85, 0.8)), url('../../images/website-img/StarryBack.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 20%), 0px 4px 6px -2px rgb(0 0 0 / 5%);
}