.body {
  min-height: 100vh;
}

.main-content h1, h2, h3 {
  font-family: 'ARCADECLASSIC' Helvetica,  sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color:  rgb(13, 32, 61);
}

.main-content p {
  font-family: 'ARCADECLASSIC', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: rgb(13, 32, 61);
}

.papyrus-box {
  background: linear-gradient(to top, #c79d73, #a37e53, #795e3e); 
  padding: 8px;
  border: 4px solid #664D2F; /* Border color */
  border-radius: 10px;
  width: 94%; /* Adjust the width as needed */
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

@font-face {
  font-family: 'papyrus'; /* Give your font a name */
  src: url('font/papyrus.ttf') format('truetype', 'woff', 'woff2'); /* Specify the path to your font file */
  /* You can include additional font formats (e.g., woff, woff2) for browser compatibility */
}

@font-face{
  font-family: 'ArcadeClassic';
  src: url('font/ARCADECLASSIC.TTF') format('truetype');
}

.invalid {
  color: red;
  border-color: red;
}