.body {
  min-height: 100vh;
}

.main-content h1, h2, h3 {
  font-family: 'Semplicita Pro' Helvetica,  sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #13181f;
}

.main-content p {
  font-family: 'Open Sans', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #13181f
}

@media screen and (max-width: 850px) {
  .main-content h1, .main-content h2, .main-content h3 {
    font-size: 35px;
    line-height: 40px;
  }
}

@media screen and (max-width: 550px) {
  .main-content h1, .main-content h2, .main-content h3 {
    font-size: 30px;
    line-height: 36px;
  }

  .main-content p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .image-test {
    flex-direction: column;
    height: 100px;
  }
}