@font-face {
  font-family: 'papyrus'; /* Give your font a name */
  src: url('font/papyrus.ttf') format('truetype', 'woff', 'woff2'); /* Specify the path to your font file */
  /* You can include additional font formats (e.g., woff, woff2) for browser compatibility */
}

@font-face{
  font-family: 'ArcadeClassic';
  src: url('font/ARCADECLASSIC.TTF') format('truetype');
}