.CommonCardStyles {
  width: 45%;
  padding-left: 4%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-evenly;
  align-items: left;
  flex-wrap: wrap;
}

.BronzeCardStyles {
  background: linear-gradient(to bottom, rgba(165, 86, 40, 0.7), rgba(205, 127, 50, 0.7), rgba(226, 164, 92, 0.7)), url('../../images/website-img/Constellation.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #44220F;
  border: 2px solid #7E421C;
}

.BlackCardStyles {
  background: linear-gradient(to bottom, rgba(31, 31, 31, 0.7), rgba(79, 79, 79, 0.7), rgba(169, 169, 169, 0.7)), url('../../images/website-img/Constellation.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ECECEC;
  border: 2px solid #000000;
}

.SilverCardStyles {
  background: linear-gradient(to bottom, rgba(152, 152, 152, 0.7), rgba(191, 191, 191, 0.7), rgba(230, 230, 230, 0.7)), url('../../images/website-img/Constellation.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #222222;
  border: 2px solid #404040;
}

.GoldCardStyles {
  background: linear-gradient(to bottom, rgba(255, 192, 0, 0.7), rgba(255, 215, 0, 0.7), rgba(255, 220, 153, 0.7)), url('../../images/website-img/Constellation.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #734700;
  border: 2px solid #D9A600;
}

.AsgardCardStyles {
  background: linear-gradient(to bottom, rgba(0, 127, 255, 0.7), rgba(51, 161, 255, 0.7), rgba(153, 204, 255, 0.7)), url('../../images/website-img/Constellation.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #003366;
  border: 2px solid #005580;
}

.PoseidonCardStyles {
  background: linear-gradient(to bottom, rgba(255, 153, 0, 0.7), rgba(255, 210, 77, 0.7), rgba(255, 204, 153, 0.7)), url('../../images/website-img/Constellation.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #8A4500;
  border: 2px solid #CC7A00;
}