.buttonStyle {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: extra-bold;
  font-family: 'ARCADECLASSIC', sans-serif; /* Make sure you have imported this font in your project */
  letter-spacing: 0.05rem;
  background: linear-gradient(to bottom, rgba(255, 255, 204, 1), rgba(218, 165, 32, 0.6)), url('../../images/NightSkyBack.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #704214;
  transition: transform 0.3s;
}

/* .buttonStyle:hover {
  transform: scale(1.05);
  opacity: 0.6;
} */